body{
    margin: 0;
    padding: 0;
    color: #393939 !important;
}
.form-login{
    width: 20%;
}
.box-login input{
    margin: 10px;
}
.cont-login{
    height: 100vh;
}
.text-below-inputs a{
    color: #393939;
}
.text-below-inputs a:hover{
    color: #707070;
}
.alert{
    margin: 0;
}
@media (max-width: 990px){
    .form-login{
        width: 40%;
    }
}
@media (max-width: 540px){
    .form-login{
        width: 60%;
    }
}
footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    color: rgb(216, 216, 216);
    position: fixed;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
}


footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    color: rgb(216, 216, 216);
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 100px;
    user-select: none;
}


body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #1c1c1c;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
    border-radius: 0px; 
    border-left: 1px solid #1c1c1c;      /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }